.fw-5{
  font-weight: 500;
}

body{
  background-color:#f8f8f8;
}
ul {
  margin:0;
  padding: 0;
}
ul li {
  list-style: none;
}
thead tr th{
  font-size: 20px;
}
.container{
  margin-top:18px;
}
.container h1{
  color:#3a3e42;
}
.heading{
  padding-bottom: 30px;
  border-bottom: 1px solid #d6d4d4;
}
.heading-i{
  float: right;
  line-height: 50px;
  margin-right:20px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}
.app-body{
  margin-top:30px;
}
.tarkform{
  border: 1px solid #d6d4d4;
  border-radius:3px;
  overflow: hidden;
  padding-bottom: 10px;
}
.tarkform-heading{
  background-color: #007bff;
  color: white;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}
.tarkform-body{
  padding: 10px;
}
.tarkform-btn-reset{
  margin-left:10px;
}
.search-sort{
  margin-top: 20px;
}
.sort{
  margin-left:20px;
}
ul li {
  padding-top:10px;
  padding-left:20px;
}
.dropdown-list{
  padding:0 10px;
  width:230px;
}
.sort-i{
  margin-right:8px;
}
button{
  border: none;
  background-color: transparent;
  outline: none;
  text-align: left;
}
button:focus{
  outline: none;
}
.tark-status{
  cursor: default;
}
.sort-active::after{
  content:'\2713';
  display:inline-block;
  font-size: 20px;
  float:right;
  margin-right: 5px;
  margin-top: -4px;
}
